@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <hr class="my-4">
    <a asp-area="" asp-controller="Book" asp-action="All"
       class="btn btn-primary btn-lg">All Books</a>
    <a asp-area="" asp-controller="Book" asp-action="Add"
       class="btn btn-primary btn-lg">Add Book</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="Author" asp-action="All"
       class="btn btn-primary btn-lg">All Authors</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="Author" asp-action="Add"
       class="btn btn-primary btn-lg">Add Author</a>
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">All Users</a>
</div>